<h1> Recipes</h1>
<h3> List of recipes </h3>
<%= button_to "Create new recipe", 
            new_user_recipe_path(@user),
            method: :get %>

<% if @recipes.any? %>


        <% @recipes.each do |recipe| %>
            <section class= 'recipes'>
                <div class = 'recipe-details'>
                     <%= link_to recipe.name, 
                     user_recipe_path(current_user, recipe),
                        method: :get %> 

                        <%= button_to "remove", 
                            user_recipe_path(current_user, recipe),
                            method: :delete %> 
                </div>

                 <div class ="recipeDescription">
                        <%= recipe.description %>
                </div>
            </section>
        <% end %>
<% else %>
    <p> There are no recipes yet. </p>
<% end %>

    